{% extends 'base.html' %}
{% block title %}Kategoriyalar{% endblock %}
{% block content %}
    <h1 class="mb-4">Kategoriyalar</h1>
    <div class="row g-4">
        {% for category in categories %}
            <div class="col-md-4">
                <div class="card p-4 text-center h-100">
                    <h4>{{ category.name }}</h4>
                    <a href="{% url 'subcategory-list' category.id %}" class="btn btn-outline-dark mt-3">Ko'rish</a>
                </div>
            </div>
        {% empty %}
            <p>Hozircha kategoriyalar yo'q.</p>
        {% endfor %}
    </div>
{% endblock %}
